.navbar {
  display: flex;
  padding: 1%;
  background-color: none;
  justify-content: space-between;
  align-items: center;
  
}
.logo{
    font-size: 1.8em;
font-weight: 700;
}
.nav-links {
  display: flex;
  gap: 20px;
}
.nav-Links-cont{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.1em;
}
.getstarted{
border: 1px solid black;
font-weight: 600;
font-size: 1.1em;
border-radius: 30px;
padding: 20px 30px;
background-color: rgb(190, 120, 233);
}
.getstarted:hover{
background-color: rgb(197, 148, 227);
}